<html>
<head>
<title>test osm</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>Open Street Map test program</h1>
<ul>
  <li>OpenLayer 2<li>
  <ul>
    <li><a href="ol2/first.html">first</a></li>
    <li><a href="ol2/marker1.html">marker</a></li>
    <li><a href="ol2/marker2.html">marker(jquery)</a></li>
    <li><a href="ol2/marker3.html">marker(jquery + websocket)</a></li>
    <li><a href="ol2/tile1.html">tile test</a></li>
  </ul>
  <li>OpenLayer 5<li>
  <ul>
    <li><a href="ol5/first.html">first</a></li>
    <li><a href="ol5/marker1.html">marker</a></li>
    <li><a href="ol5/marker2.html">marker(jquery)</a></li>
    <li><a href="ol5/marker3.html">marker(jquery + websocket)</a></li>
    <li><a href="ol5/tile1.html">tile test</a></li>
  </ul>  
</ul>
</body>
</html>
